.button {
    $this: &;
    @include link-reset;
    position: relative;
    display: block;
    padding: $layout-padding $layout-padding * 2;
    background-color: RGB(var(--primary-normal));
    text-transform: uppercase;
    text-align: center;
    color: RGB(var(--text-light));
    transition: background-color $transition, transform $transition, box-shadow $transition;
    // in case the button is not an anchor or button element (it should be), cursor is set
    cursor: pointer;

    @include hover {
        background-color: RGB(var(--primary-light));
        transform: translateY(-2px);
        box-shadow: -2px 2px 3px 1px RGBA(var(--black), .15);
        text-decoration: none;
    }

    &--secondary {
        background-color: RGB(var(--secondary-normal));
        color: RGB(var(--text-dark));

        @include hover {
            color: RGB(var(--text-light));
        }
    }

    @media (max-width: $break-tablet) {
        padding: 1.2rem $layout-padding;
    }
}
