:root {
    --primary-light: 31, 31, 31;
    --primary-normal: 1, 1, 1;

    --secondary-light: 242, 242, 242;
    --secondary-normal: 228, 228, 228;
    --secondary-dark: 204, 204, 204;
    
    --text-light: 228, 228, 228;
    --text-normal: 1, 1, 1;

    --black: 0, 0, 0;
    --white: 255, 255, 255;

    --light-placeholder-gradient: linear-gradient(to top right, RGB(RGB(var(--secondary-normal))), RGB(RGB(var(--secondary-dark))));
    --dark-placeholder-gradient: linear-gradient(to top right, RGB(RGB(var(--primary-normal))), RGB(RGB(var(--primary-light))));
  }


/* Social Colours */
$instagram-gradient: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);

/* Breakpoints */
$break-small-mobile: 375px;
$break-mobile: 415px;
$break-phablet: 640px;
$break-tablet: 840px;
$break-desktop: 1025px;
$break-wide: 1300px;

/* Aspect ratios */
$aspect-16-10: 10 / 16 * 100%; // 16:10
$aspect-16-9: 9 / 16 * 100%; // 16:9
$aspect-2-3: 3 / 2 * 100%; // 2:3
$aspect-3-2: 2 / 3 * 100%; // 2:3
$aspect-3-4: 4 / 3 * 100%; // 3:4
$aspect-4-3: 3 / 4 * 100%; // 4:3

/* Layout */
$wrapper-width: 136rem;
$layout-padding: 1.6rem;
$navigation-height: 8.2rem;
$mobile-navigation-height: 6rem;

/* Z-Index Layers */
$level-one: 10;
$level-two: 20;
$level-three: 30;
$level-four: 40;
$level-five: 50;
$level-six: 60;

$transition: .25s ease;
