.social {
    $this: &;
    display: flex;

    &__link {
        margin: 0 $layout-padding * 2;

        &--github {
            width: 4rem;
            height: 4rem;
            position: relative;
            flex-shrink: 0;
            margin-left: auto;
            background-color: RGB(var(--secondary-normal));
            border-radius: 100%;

            #{$this}__icon { // github icon
                width: 2.8rem;
                height: 2.8rem;
                position: absolute;
                top: 50%;
                left: 50%;
                fill: RGB(var(--primary-normal)); // official github colour
                transform: translate(-50%, -50%);
            }
        }

        &--mail {

            #{$this}__icon {
                
            }
        }
    }

    &__icon {
        width: 4.2rem;
        height: 4.2rem;
        fill: RGB(var(--secondary-normal));
    }
}